@use "../global/index" as *;
@use "../util/index" as *;

// @include flex(r, c, c);
// @include flexForPhon(cr,2);
// @include grid(2, 2, fr, 1rem);

// // TODO: grid
// // TODO: focus
// TODO: color system
// TODO: font/icon system/size
// TODO: icon
// TODO: card layout
// TODO: animation and hover

main.offers {
    --col-gap: #{toRem(12px)};
    width: 100%;
    ul {
        height: 100svh;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        padding: var(--col-gap);
        gap: var(--col-gap);
        li.offer_card {
            list-style: none;
            background-color: var(--clr-background);
            border-radius: var(--col-gap);
            padding: calc(var(--col-gap) * 2);
            overflow: hidden;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            a {
                width: 100%;
                text-decoration: none;
                color: var(--card-text-clr);
                border-radius: var(--border-radius);
                padding: var(--col-gap);
                lord-icon {
                    --icon-size: 10rem;
                    width: var(--icon-size);
                    height: var(--icon-size);
                    aspect-ratio: 1 / 1;
                }
            }
        }
        li.offer_card#DesignSystem {
            grid-area: 1 / 3 / 2 / 4;

            .DesignSystem-colors {
                width: 100%;
                height: var(--col-gap);
                @include flex(r, c, c);
                border-radius: var(--col-gap);
                overflow: hidden;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                span {
                    --clr-num: 5;
                    height: 100%;
                    width: calc(100% / var(--clr-num));
                    display: block;
                }
                span:nth-child(1) {
                    background-color: var(--clr-accent);
                }
                span:nth-child(2) {
                    background-color: var(--clr-primary);
                }
                span:nth-child(3) {
                    background-color: var(--clr-secondary);
                }
                span:nth-child(4) {
                    background-color: var(--clr-background);
                }
                span:nth-child(5) {
                    background-color: var(--clr-text);
                }
                // TODO: make a cool hover
            }
        }

        li.offer_card:nth-child(1) {
            grid-area: 2 / 2 / 4 / 4;
        }
        li.offer_card:nth-child(2) {
            grid-area: 1 / 2 / 2 / 3;
        }
        li.offer_card:nth-child(3) {
        }
        li.offer_card:nth-child(4) {
            grid-area: 1 / 4 / 3 / 5;
        }
        li.offer_card:nth-child(5) {
            grid-area: 3 / 4 / 5 / 5;
        }
        li.offer_card:nth-child(6) {
            grid-area: 1 / 1 / 3 / 2;
        }
        li.offer_card:nth-child(7) {
            grid-area: 3 / 1 / 4 / 2;
        }
        li.offer_card:nth-child(8) {
            grid-area: 4 / 1 / 5 / 3;
        }
        li.offer_card:nth-child(9) {
            grid-area: 4 / 3 / 5 / 4;
        }
        li.offer_card {
            --card-text-clr: var(--text-clr);
            --accent-clr: var(--accent-clr-3);

            h2 {
                font-size: 3rem;
            }
        }
        // li.offer_card#free {
        //     --card-text-clr: var(--text-clr);
        //     --accent-clr: var(--accent-clr-4);
        //     padding: var(--col-gap);
        // }
        // li.offer_card#performance {
        //     --card-text-clr: var(--text-clr);
        //     --accent-clr: var(--accent-clr-3);
        //     lord-icon {
        //         --icon-size: 25rem;
        //     }
        //     h2 {
        //         font-size: var(--fs-m);
        //         font-weight: var(--fw-m);
        //     }
        // }
        // li.offer_card#A11y {
        //     --card-text-clr: var(--background-clr);
        //     --accent-clr: var(--accent-clr-4);
        // }
        // li.offer_card#SEO {
        //     --card-text-clr: var(--text-clr);
        //     --accent-clr: var(--accent-clr-1);
        // }
    }
}
@media (prefers-reduced-motion: no-preference) {
}
