@use "../global/index" as *;
@use "../util/index" as *;

// @include flex(r, c, c);
// @include flexForPhon(cr,2);
// @include grid(2, 2, fr, 1rem);

// // TODO: grid
// // TODO: focus
// TODO: color system
// TODO: font/icon system/size
// TODO: icon
// TODO: card layout
// TODO: animation and hover

main.offers {
    --col-num: 3;
    --col-gap: #{toRem(24px)};
    width: 100%;
    .Container {
        padding: var(--col-gap);
        ul {
            height: min-content;
            display: grid;
            grid-template-columns: repeat(var(--col-num), 1fr);
            gap: var(--col-gap);
            li.offer_card {
                list-style: none;
                @include flex(c, c, c);
                background-color: var(--accent-clr);
                border-radius: var(--border-radius);
                overflow: hidden;
                a {
                    width: 100%;
                    @include flex(c, c, c);
                    text-decoration: none;
                    color: var(--card-text-clr);
                    border-radius: var(--border-radius);
                    padding: var(--col-gap);
                    lord-icon {
                        --icon-size: 10rem;
                        width: var(--icon-size);
                        height: var(--icon-size);
                        aspect-ratio: 1 / 1;
                    }
                }
            }
            li.offer_card:hover {
                opacity: 0.95;
            }
            li.offer_card#free {
                --card-text-clr: var(--text-clr);
                --accent-clr: var(--accent-clr-4);
                padding: var(--col-gap);
            }
            li.offer_card#performance {
                --card-text-clr: var(--text-clr);
                --accent-clr: var(--accent-clr-3);
                lord-icon {
                    --icon-size: 25rem;
                }
                h2 {
                    font-size: var(--fs-m);
                    font-weight: var(--fw-m);
                }
            }
            // li.offer_card#A11y {
            //     --card-text-clr: var(--background-clr);
            //     --accent-clr: var(--accent-clr-4);
            // }
            // li.offer_card#SEO {
            //     --card-text-clr: var(--text-clr);
            //     --accent-clr: var(--accent-clr-1);
            // }
        }
    }
}
@media (prefers-reduced-motion: no-preference) {
}
