@use "../global/index" as *;
@use "../util/index" as *;

// @include flex(r, c, c);
// @include flexForPhon(cr,2);
// @include grid(2, 2, fr, 1rem);

// // TODO: grid
// // TODO: focus
// TODO: color system
// TODO: font/icon system/size
// TODO: icon
// TODO: card layout
// TODO: animation and hover

main.offers {
    --col-num: 2;
    --col-gap: #{toRem(24px)};
    width: 100%;
    .Container {
        padding: var(--col-gap);
        @include flex(r, c, c);
        ul {
            width: #{toRem(800px)};
            max-width: 100%;
            height: min-content;
            display: grid;
            grid-template-columns: repeat(var(--col-num), 1fr);
            gap: var(--col-gap);
            li.offer_card {
                list-style: none;
                display: flex;
                background-color: var(--accent-clr);
                border-radius: var(--border-radius);
                a {
                    width: 100%;
                    @include flex(c, c, c);
                    text-decoration: none;
                    color: var(--card-text-clr);
                    border-radius: var(--border-radius);
                    padding: var(--col-gap);
                    lord-icon {
                        --icon-size: 10rem;
                        width: var(--icon-size);
                        height: var(--icon-size);
                    }
                    h2 {
                        margin: 0;
                        font-size: 60px;
                        font-weight: 900;
                        color: var(--card-text-clr);
                    }
                }
            }
            li.offer_card:hover {
                opacity: 0.95;
            }
            li.offer_card#performance {
                --card-text-clr: var(--background-clr);
                --accent-clr: var(--accent-clr-2);
            }
            li.offer_card#A11y {
                --card-text-clr: var(--background-clr);
                --accent-clr: var(--accent-clr-4);
            }
            li.offer_card#SEO {
                --card-text-clr: var(--text-clr);
                --accent-clr: var(--accent-clr-1);
            }
        }
    }
}
@media (prefers-reduced-motion: no-preference) {
}
