:root {
    // * alpha
    --clr-alpha-white: 0 0% 100%;
    --clr-alpha-black: 0 0% 0%;
    /* Color Variables */

    --text-clr: hsl(0, 0%, 0%);
    --background-clr: hsl(0, 0%, 100%);
    --accent-clr-1: hsl(0, 0%, 95%);
    --accent-clr-2: hsl(220, 100%, 64%);
    --accent-clr-3: hsl(21, 100%, 76%);
    --accent-clr-4: hsl(0, 71%, 63%);

    // color-scheme: light;
}
// @media (prefers-color-scheme: light) {
//     :root {
//       --text-clr: hsl(0, 0%, 0%);
//       --background-clr: hsl(0, 0%, 100%);
//       --primary-clr: hsl(220, 100%, 64%);
//       --secondary-clr: hsl(0, 0%, 95%);
//       --accent-clr: hsl(21, 100%, 76%);
//     }
//   }
//   @media (prefers-color-scheme: dark) {
//     :root {
//       --text: hsl(0, 0%, 100%);
//       --background: hsl(0, 0%, 0%);
//       --primary: hsl(220, 100%, 36%);
//       --secondary: hsl(0, 0%, 5%);
//       --accent: hsl(21, 100%, 24%);
//     }
//   }
html,
body {
    background-color: var(--background-clr);
}
