:root {
    // * alpha
    --clr-alpha-white: 0 0% 100%;
    --clr-alpha-black: 0 0% 0%;
    /* Color Variables */

    --text-clr: #edf7f6;
    --background-clr: hsl(168, 24%, 4%);
    --accent-clr-1: hsl(171, 59%, 73%);
    --accent-clr-2: hsl(230, 60%, 34%);
    --accent-clr-3: hsl(252, 60%, 51%);
    --accent-clr-4: hsl(221, 20%, 34%);
    --accent-clr-5: hsl(230, 62%, 51%);

    // color-scheme: light;
}
// @media (prefers-color-scheme: light) {
//     :root {
//       --text-clr: hsl(0, 0%, 0%);
//       --background-clr: hsl(0, 0%, 100%);
//       --primary-clr: hsl(220, 100%, 64%);
//       --secondary-clr: hsl(0, 0%, 95%);
//       --accent-clr: hsl(21, 100%, 76%);
//     }
//   }
//   @media (prefers-color-scheme: dark) {
//     :root {
//       --text: hsl(0, 0%, 100%);
//       --background: hsl(0, 0%, 0%);
//       --primary: hsl(220, 100%, 36%);
//       --secondary: hsl(0, 0%, 5%);
//       --accent: hsl(21, 100%, 24%);
//     }
//   }
html,
body {
    background-color: var(--background-clr);
}
