@use "./colors.scss" as *;
@use "../util/index" as *;
:root {
    // font sizes
    --fs-s: #{toRem(14px)};
    --fs-m: #{toRem(26px)};
    --fs-l: #{toRem(60px)};

    //Weights
    --fw-l: 100;
    --fw-m: 400;
    --fw-b: 700;
    --fw-xb: 900;
}
body {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, avenir next, avenir,
        segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto,
        arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html,
html:focus-within {
    text-size-adjust: none;
}
:where(h1, h2, h3, h4, p) {
    text-wrap: balance;
    color: var(--clr-text);
    font-style: italic;
    line-height: 1.2;
    filter: blur(0.5px);
    margin: 0;
}
:where(p) {
}
h2 {
    font-size: var(--fs-m);
    font-weight: var(--fw-b);
    text-transform: capitalize;
}
p {
    font-size: var(--fs-s);
    font-weight: var(--fw-m);
}
