---
import { Picture, Image } from "astro:assets";

import Html from "../layouts/Html.astro";

// import from "../assets/toBeCool/Albert-Einstein-wearing-Arabic-clothes.jpg"
import toBeCool1 from "../assets/toBeCool/Statue-of-Julius-Caesar.jpg";
import toBeCool2 from "../assets/toBeCool/rickroll-meme.gif";
import toBeCool3 from "../../public/rhys.svg";
// import from "../assets/toBeCool/Statue-of-Julius-Caesar.jpg"
// import from "../assets/toBeCool/Umm-Kulthum.jpg"
---

<!-- 
	TODO: icon
	TODO: a11y
	TODO: link to page/serves
	TODO: carousel for the to be cool card
-->
<Html>
    <main class="offers">
        <!-- <h1>Hefnawy Studio</h1> -->
        <ul>
            <li class="offer_card" id="main">
                <h1>1- main</h1>
            </li>
            <li class="offer_card" id="madia">
                <h2>2- madia</h2>
            </li>
            <li class="offer_card" id="DesignSystem">
                <div class="DesignSystem-slogan">
                    <p>Studio what!</p>
                    <div>
                        <lord-icon
                            src="https://cdn.lordicon.com/eouimtlu.json"
                            trigger="hover"
                            colors="primary:#000000"
                        >
                        </lord-icon>
                        <h2>Go behind templates!</h2>
                    </div>
                </div>
                <div class="DesignSystem-slogan">
                    <p>We love mango!</p>
                    <div>
                        <lord-icon
                            src="https://cdn.lordicon.com/nipyfrzp.json"
                            trigger="hover"
                            colors="primary:#000000"
                        >
                        </lord-icon>
                        <h2>Hefnawy Studio</h2>
                    </div>
                </div>
                <div id="DesignSystem-colors">
                    <span></span><span></span><span></span><span></span><span
                    ></span>
                </div>
            </li>
            <li class="offer_card" id="free">
                <h2>4- free</h2>
            </li>
            <li class="offer_card" id="article">
                <h2>5- article</h2>
            </li>
            <li class="offer_card" id="paid">
                <h2>6- paid</h2>
            </li>
            <li class="offer_card" id="king">
                <h2>7- king</h2>
            </li>
            <li class="offer_card" id="us">
                <h2>8- about us</h2>
            </li>
            <li class="offer_card" id="toBeCool">
                <!-- <img
                    src="/public/toBeCool/Albert-Einstein-wearing-Arabic-clothes.jpg"
                    alt=""
                    srcset=""
                /> -->
                <!-- <img
                    src="/public/toBeCool/Statue-of-Julius-Caesar-eating-gum.jpg"
                    alt=""
                    srcset=""
                /> -->
                <Picture
                    src={toBeCool1}
                    formats={["jpg", "webp"]}
                    fallbackFormat="avif"
                    alt="a cool Statue of Julius Caesar"
                    id="toBeCool1"
                />
                <Image src={toBeCool2} alt="rickroll meme" id="rickroll" />
                <!-- <img
                    src="/public/toBeCool/Statue-of-Julius-Caesar.jpg"
                    alt=""
                    srcset=""
                /> -->
                <!-- <img src="/public/toBeCool/Umm-Kulthum.jpg" alt="" srcset="" /> -->
            </li>
            <!-- <li class="offer_card" id="performance">
                    <a href="#" class="focus">
                        <lord-icon
                            src="https://cdn.lordicon.com/jfwzwlls.json"
                            trigger="hover"
                            colors="primary:#edf7f6"
                        >
                        </lord-icon>
                    </a>
                </li> -->
            <!-- <li class="offer_card" id="A11y">
                    <a href="#" class="focus">
                        <lord-icon
                            src="https://cdn.lordicon.com/spukaklw.json"
                            trigger="hover"
                            colors="primary:#ffffff"
                        >
                        </lord-icon>
                        <h2>A11y</h2>
                    </a>
                </li>
                <li class="offer_card" id="SEO">
                    <a href="#" class="focus">
                        <lord-icon
                            src="https://cdn.lordicon.com/nipyfrzp.json"
                            trigger="hover"
                            colors="primary:#000000"
                        >
                        </lord-icon>
                        <h2>SEO</h2>
                    </a>
                </li> -->
        </ul>
    </main>
</Html>
