---
import Html from "../layouts/Html.astro";
---

<!-- 
	TODO: icon
	TODO: a11y
	TODO: link to page/serves
-->
<Html>
    <main class="offers">
        <div class="Container">
            <!-- <h1>Hefnawy Studio</h1> -->
            <ul>
                <li class="offer_card">
                    <a href="#" class="focus">
                        <lord-icon
                            src="https://cdn.lordicon.com/vyqvtrtg.json"
                            trigger="hover"
                        >
                        </lord-icon>
                        <h2>preformance</h2>
                    </a>
                </li>
                <li class="offer_card">
                    <a href="#" class="focus">
                        <lord-icon
                            src="https://cdn.lordicon.com/vyqvtrtg.json"
                            trigger="hover"
                        >
                        </lord-icon>
                        <h2>preformance</h2>
                    </a>
                </li>
                <li class="offer_card">
                    <a href="#" class="focus">
                        <lord-icon
                            src="https://cdn.lordicon.com/vyqvtrtg.json"
                            trigger="hover"
                        >
                        </lord-icon>
                        <h2>preformance</h2>
                    </a>
                </li>
                <li class="offer_card">
                    <a href="#" class="focus">
                        <lord-icon
                            src="https://cdn.lordicon.com/vyqvtrtg.json"
                            trigger="hover"
                        >
                        </lord-icon>
                        <h2>preformance</h2>
                    </a>
                </li>
                <li class="offer_card">
                    <a href="#" class="focus">
                        <lord-icon
                            src="https://cdn.lordicon.com/vyqvtrtg.json"
                            trigger="hover"
                        >
                        </lord-icon>
                        <h2>preformance</h2>
                    </a>
                </li>
                <li class="offer_card">
                    <a href="#" class="focus">
                        <lord-icon
                            src="https://cdn.lordicon.com/vyqvtrtg.json"
                            trigger="hover"
                        >
                        </lord-icon>
                        <h2>preformance</h2>
                    </a>
                </li>
                <li class="offer_card">
                    <a href="#" class="focus">
                        <lord-icon
                            src="https://cdn.lordicon.com/vyqvtrtg.json"
                            trigger="hover"
                        >
                        </lord-icon>
                        <h2>preformance</h2>
                    </a>
                </li>
                <li class="offer_card">
                    <a href="#" class="focus">
                        <lord-icon
                            src="https://cdn.lordicon.com/vyqvtrtg.json"
                            trigger="hover"
                        >
                        </lord-icon>
                        <h2>preformance</h2>
                    </a>
                </li>
                <li class="offer_card">
                    <a href="#" class="focus">
                        <lord-icon
                            src="https://cdn.lordicon.com/vyqvtrtg.json"
                            trigger="hover"
                        >
                        </lord-icon>
                        <h2>preformance</h2>
                    </a>
                </li>
            </ul>
        </div>
    </main>
    <!-- <a href="https://lordicon.com/">Icons by Lordicon.com</a> -->
</Html>
