---
import Html from "../layouts/Html.astro";
---

<!-- 
	TODO: icon
	TODO: a11y
	TODO: link to page/serves
-->
<Html>
    <main class="offers">
        <div class="Container">
            <!-- <h1>Hefnawy Studio</h1> -->
            <ul>
                <li class="offer_card" id="main">
                    <h2>1- main</h2>
                </li>
                <li class="offer_card" id="madia">
                    <h2>2- madia</h2>
                </li>
                <li class="offer_card" id="hals1">
                    <h2>3- hals1</h2>
                </li>
                <li class="offer_card" id="free">
                    <h2>4- free</h2>
                </li>
                <li class="offer_card" id="article">
                    <h2>5- article</h2>
                </li>
                <li class="offer_card" id="paid">
                    <h2>6- paid</h2>
                </li>
                <li class="offer_card" id="king">
                    <h2>7- king</h2>
                </li>
                <li class="offer_card" id="us">
                    <h2>8- about us</h2>
                </li>
                <li class="offer_card" id="hals">
                    <h2>9- hals2</h2>
                </li>
                <!-- <li class="offer_card" id="performance">
                    <a href="#" class="focus">
                        <lord-icon
                            src="https://cdn.lordicon.com/jfwzwlls.json"
                            trigger="hover"
                            colors="primary:#edf7f6"
                        >
                        </lord-icon>
                    </a>
                </li> -->
                <!-- <li class="offer_card" id="A11y">
                    <a href="#" class="focus">
                        <lord-icon
                            src="https://cdn.lordicon.com/spukaklw.json"
                            trigger="hover"
                            colors="primary:#ffffff"
                        >
                        </lord-icon>
                        <h2>A11y</h2>
                    </a>
                </li>
                <li class="offer_card" id="SEO">
                    <a href="#" class="focus">
                        <lord-icon
                            src="https://cdn.lordicon.com/nipyfrzp.json"
                            trigger="hover"
                            colors="primary:#000000"
                        >
                        </lord-icon>
                        <h2>SEO</h2>
                    </a>
                </li> -->
            </ul>
        </div>
    </main>
</Html>
