---

---

<header aria-label="main header">
    <div class="Container header__Container">
        <div class="c1 column">
            <div class="header__Logo">
                <a
                    href="/"
                    class="main__logo focus"
                    aria-label="Hefnawy Studio"
                >
                    HS
                    <span class="visually-hidden"
                        >Greetings to users employing a website reader, Thank
                        you for taking the time to visit my site. I've made
                        every effort to enhance your experience, and I hope it
                        proves to be the best it can be. Wishing you a joyful
                        and fulfilling day ahead.</span
                    >
                </a>
            </div>
            <a
                href="#content"
                title="click Enter to skip navigation menu"
                class="skip-nav-link Button focus">skip nav</a
            >
        </div>
        <div class="c2 column">
            <button
                type="button"
                aria-controls="main-navigation-list"
                aria-expanded="false"
                class="mobile-nav-toggle"
            >
                <span class="visually-hidden">Menu</span>
                 X
            </button>
            <nav class="header__main-navigation" aria-label="main navigation">
                <ul data-visible="false" id="main-navigation-list" class="">
                    <li>
                        <a href="#" data-selected="true">Articles</a>
                    </li>
                    <li>
                        <a href="#" data-selected="false">Services</a>
                    </li>
                    <li>
                        <a href="#" data-selected="false">About Us</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="c3 column">
            <button type="button"></button>
            <button type="button"></button>
        </div>
    </div>
</header>

<script>
    let header = document.querySelector('header[aria-label="main header"]');
    let mobileNavToggle = document.querySelector(".mobile-nav-toggle");
    let nav = document.querySelector("#main-navigation-list");

    let headerHight = header.getBoundingClientRect().height;

    mobileNavToggle.addEventListener("click", () => {
        if (nav.getAttribute("data-visible") === "false") {
            nav.setAttribute("data-visible", "true");
            mobileNavToggle.setAttribute("aria-expanded", "true");
        } else if (nav.getAttribute("data-visible") === "true") {
            nav.setAttribute("data-visible", "false");
            mobileNavToggle.setAttribute("aria-expanded", "false");
        }
    });

    document.documentElement.style.setProperty(
        "--header-padding-hight",
        headerHight - 1 + "px"
    );
</script>
