:root {
  --clr-alpha-white: 0 0% 100%;
  --clr-alpha-black: 0 0% 0%;
  /* Color Variables */
  --text-clr: #edf7f6;
  --background-clr: hsl(168, 24%, 4%);
  --accent-clr-1: hsl(171, 59%, 73%);
  --accent-clr-2: hsl(230, 60%, 34%);
  --accent-clr-3: hsl(252, 60%, 51%);
  --accent-clr-4: hsl(221, 20%, 34%);
  --accent-clr-5: hsl(230, 62%, 51%);
}

html,
body {
  background-color: var(--background-clr);
}

[aria-labelledby="hero title"] .Container .Hero, main.offers .Container ul li.offer_card, main.offers .Container ul li.offer_card a, .main-header .header__Container, .main-header .header__Container .header__Logo, .main-header .header__Container .header__main-navigation, .main-header .header__Container .header__main-navigation ul, .old-script,
.no-script {
  display: flex;
}

[aria-labelledby="hero title"] .Container .Hero, .main-header .header__Container, .main-header .header__Container .header__main-navigation, .main-header .header__Container .header__main-navigation ul, .old-script,
.no-script {
  flex-direction: row;
}

main.offers .Container ul li.offer_card, main.offers .Container ul li.offer_card a {
  flex-direction: column;
}

main.offers .Container ul li.offer_card, main.offers .Container ul li.offer_card a, .main-header .header__Container .header__Logo, .old-script,
.no-script {
  justify-content: center;
}

.main-header .header__Container, .main-header .header__Container .header__main-navigation ul {
  justify-content: space-between;
}

main.offers .Container ul li.offer_card, main.offers .Container ul li.offer_card a, .main-header .header__Container, .main-header .header__Container .header__Logo, .main-header .header__Container .header__main-navigation, .main-header .header__Container .header__main-navigation ul, .old-script,
.no-script {
  align-items: center;
}

:root {
  --fs-s: 1rem;
  --fs-m: 1.5rem;
  --fs-l: 3.75rem;
  --fw-l: 400;
  --fw-m: 500;
  --fw-b: 900;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
html:focus-within {
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

:where(h1, h2, h3, h4) {
  text-wrap: balance;
  line-height: 1.2;
}

h2 {
  margin: 0;
  font-size: var(--fs-l);
  font-weight: var(--fw-b);
  color: var(--card-text-clr);
}

p {
  font-size: var(--fs-s);
  font-weight: var(--fw-l);
  color: var(--card-text-clr);
}

:root {
  --border-radius: 1.5625rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
html:focus-within {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overscroll-behavior: contain;
}

html,
body {
  height: 100%;
  max-width: 100%;
  overflow-x: clip;
}

li,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li a,
ul a {
  text-decoration: none;
}

::-moz-focus-inner {
  border: none;
}

:focus {
  outline: 2px solid transparent;
}

.focus {
  box-shadow: 0 0 0 -0.5rem var(--background-clr), 0 0 0 -0.7rem var(--accent-clr);
  transition: box-shadow 400ms cubic-bezier(0.66, -0.2, 0.27, 1.15);
}

.focus:focus-visible {
  outline: 2px solid transparent;
  box-shadow: 0 0 0 0.25rem var(--background-clr), 0 0 0 0.5rem var(--accent-clr);
}

input,
button,
textarea,
a,
select {
  font: inherit;
}

img,
svg {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  font-weight: var(--fw-bold);
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  box-shadow: none;
  pointer-events: none;
  isolation: isolate;
}

[type=button] {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  font: inherit;
}

:where(.Button, .inputFiled) {
  min-height: 3.25rem;
  max-height: 3em;
  width: -moz-min-content;
  width: min-content;
  max-width: min(100%, 90vw);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  text-transform: capitalize;
  white-space: nowrap;
  padding: max(0.4em, 0.4rem) max(2.2em, 2.2rem);
  font-size: var(--fs-s);
  font-weight: var(--fw-b);
  background-color: transparent;
  color: var(--txt-clr);
  border: 2px solid var(--secondary-clr);
  border-radius: var(--border-radius);
  --focus-shadow: inset 0px -0.4rem 0 var(--accent-shadow-clr);
}

.inputFiled {
  outline: 2px solid transparent;
}

.Button:not(:last-child) {
  margin: 0 0 1rem 0;
}

.visually-hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.old-script,
.no-script {
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  position: fixed;
  padding: 0 1rem;
  text-align: center;
  background-color: #1c1e21;
  color: #d9d4ce;
}
.old-script > p,
.no-script > p {
  font-size: 18px;
  color: #d9d4ce;
}

:root {
  --Header-hight: 5rem;
  --Header-Nav-width: 30em;
  --Header-icon-hight: 5em;
}

.main-header {
  width: 100vw;
  max-height: var(--Header-hight);
  z-index: 100;
  position: relative;
  padding: 0.1rem 0;
}
.main-header .Container {
  --container-width: 60%;
}
.main-header .header__Container .header__Logo {
  width: 100%;
}
.main-header .header__Container .header__Logo a {
  cursor: pointer;
  white-space: nowrap;
  font-size: var(--fs-s);
  color: var(--txt-clr);
}
.main-header .header__Container .header__Logo a img {
  width: var(--fs-500);
}
.main-header .header__Container .mobile-nav-toggle {
  --icon-size: var(--fs-300);
  cursor: pointer;
  display: none;
  position: absolute;
  right: 5%;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: var(--icon-size);
  height: var(--icon-size);
  z-index: 1000;
}
.main-header .header__Container .header__main-navigation {
  font-size: var(--fs-s);
  width: var(--Header-Nav-width);
}
.main-header .header__Container .header__main-navigation ul {
  width: 100%;
}
.main-header .header__Container .header__main-navigation ul li a {
  font-size: var(--fs-s);
  color: var(--txt-clr);
  cursor: pointer;
}

main.offers {
  --col-num: 3;
  --col-gap: 1.5rem;
  width: 100%;
}
main.offers .Container {
  padding: var(--col-gap);
}
main.offers .Container ul {
  height: -moz-min-content;
  height: min-content;
  display: grid;
  grid-template-columns: repeat(var(--col-num), 1fr);
  gap: var(--col-gap);
}
main.offers .Container ul li.offer_card {
  list-style: none;
  background-color: var(--accent-clr);
  border-radius: var(--border-radius);
  overflow: hidden;
}
main.offers .Container ul li.offer_card a {
  width: 100%;
  text-decoration: none;
  color: var(--card-text-clr);
  border-radius: var(--border-radius);
  padding: var(--col-gap);
}
main.offers .Container ul li.offer_card a lord-icon {
  --icon-size: 10rem;
  width: var(--icon-size);
  height: var(--icon-size);
  aspect-ratio: 1/1;
}
main.offers .Container ul li.offer_card:hover {
  opacity: 0.95;
}
main.offers .Container ul li.offer_card#free {
  --card-text-clr: var(--text-clr);
  --accent-clr: var(--accent-clr-4);
  padding: var(--col-gap);
}
main.offers .Container ul li.offer_card#performance {
  --card-text-clr: var(--text-clr);
  --accent-clr: var(--accent-clr-3);
}
main.offers .Container ul li.offer_card#performance lord-icon {
  --icon-size: 25rem;
}
main.offers .Container ul li.offer_card#performance h2 {
  font-size: var(--fs-m);
  font-weight: var(--fw-m);
}

[aria-labelledby="hero title"] {
  width: 100vw;
  height: calc(100vh - var(--Header-hight));
}
[aria-labelledby="hero title"] .Container {
  --container-width: 80%;
}
[aria-labelledby="hero title"] .Container .Hero {
  width: 100%;
  height: 100%;
}
[aria-labelledby="hero title"] .Container .Hero > * {
  width: 50%;
  height: 100%;
}
@media screen and (max-width: 769px) {
  [aria-labelledby="hero title"] .Container .Hero {
    flex-direction: column;
  }
  [aria-labelledby="hero title"] .Container .Hero > * {
    width: 100%;
    height: 50%;
  }
}
footer {
  width: 100vw;
}
footer .scroll-Top {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 3px solid rgb(255, 20, 81);
  background-color: rgb(255, 20, 81);
  color: #fff0e5;
  cursor: pointer;
  line-height: 4.5rem;
  font-size: 2rem;
  text-align: center;
}
footer .scroll-Top p {
  margin: auto;
}
footer .scroll-Top:hover {
  background-color: rgb(255, 20, 81);
  color: #fff0e5;
}
footer .mine {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}
footer .mine p {
  margin: 0;
  color: #fff0e5;
}
footer .mine p a {
  text-decoration: underline;
  color: rgb(255, 20, 81);
  font-weight: bold;
}

@media screen and (max-width: 48em) {
  main.offers {
    --col-num: 1;
  }
  main.offers .Container ul {
    width: 100%;
  }
  .Button,
  .inputFiled {
    width: 100% !important;
  }
  .Button:not(:last-child),
  .inputFiled:not(:last-child) {
    margin: 0 0 1rem 0;
  }
}
/*For tablets */
@supports not (overflow-x: clip) {
  html,
  body {
    overflow-x: hidden;
  }
}
@supports not (height: 100svh) {
  main.offers {
    height: 100vh;
  }
}
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
  }
}/*# sourceMappingURL=index.css.map */