---
import "../index.css";
---

<!-- 
    TODO: the title trick
    TODO: logo
    TODO: content meta
    TODO: customize the script stuff
--><!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- ################################ -->
        <meta name="twitter:card" content="" />
        <meta name="twitter:title" content="" />
        <meta name="twitter:description" content="" />
        <meta name="twitter:image" content="" />

        <meta property="og:type" content="website" />
        <meta property="og:url" content="" />
        <meta property="og:title" content="" />
        <meta property="og:image" content="" />
        <meta property="og:description" content="" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />

        <!-- ################################ -->
        <meta name="description" content="" />
        <meta name="author" content="Youssef Hefnawy" />
        <meta name="generator" content={Astro.generator} />
        <meta name="color-scheme" content="light" />
        <script is:inline>
            var supportsCssVars = function () {
                var e,
                    t = document.createElement("style");
                return (
                    (t.innerHTML = "root: { --tmp-var: bold; }"),
                    document.head.appendChild(t),
                    (e = !!(
                        window.CSS &&
                        window.CSS.supports &&
                        window.CSS.supports("font-weight", "var(--tmp-var)")
                    )),
                    t.parentNode.removeChild(t),
                    e
                );
            };
            supportsCssVars() || alert("Please use a modern browser");
        </script>

        <link rel="icon" type="image/png" href="" />
        <title>test</title>
    </head>
    <body>
        <slot />
        <script src="https://cdn.lordicon.com/lordicon.js"></script>
        <noscript>
            <div class="no-script">
                <p>Please enable JavaScript to view this website.</p>
            </div>
        </noscript>
        <script nomodule="" is:inline>
            var div = document.createElement("div");
            var p = document.createElement("P");
            div.classList.add("old-script");
            p.textContent =
                "Please update your browser to modern version to view this website.";
            div.appendChild(p);
            document.body.appendChild(div);
        </script>
        <script is:inline>
            console.log(
                `Made with 💙 by Youssef Hefnawy: https://twitter.com/hafanwy`
            );
            console.warn(
                `
              \$$\     $$/  $$\   $$\ 
               \$$\   $$/   $$ |  $$ |
                \$$\ $$/    $$ |  $$ |
                 \$$$$/     $$$$$$$$ |
                  \$$/      $$  __$$ |
                  |$$|      $$ |  $$ |
                  |$$|      $$ |  $$ |
                  |__|      \__|  \__|
            `
            );
        </script>
    </body>
</html>
